{% extends "KFUPMCollection/base.html" %}
{% load static %}

{% block content %}

    <div class="box">
        <h1 class="Header-Text">About</h1>
        <p class="Prograph">
            KFUPM Collection is designed by KFUPM students. The website provides the students all their needs
            in their acadimec and social live during years of college. It has resources for all cources and
            all instructors evaluation. After today there is no need to go back and forth to different website
            all you need is KFUPM collection.
        </p>
        <h3 class="Header-Text">What the website adds to you?</h3>
        <p class="Prograph">
        <ul class="Prograph">
            <li>Resources of all kind</li>
            <dd>- Quizzes, Exams, Slides, Lab work and much more</dd>
            <li>Instructor evaluation</li>
            <dd>- The quality of presenting, The attendence policy, Bounses ... etc</dd>
            <li>Social media</li>
            <dd>- You will find whatsapp group for any course, Also, groups for gamming community
                inside KFUPM, Learning groups and others.
            </dd>
        </ul>
        </p>
    </div>
    <!--Page Wrapper-->
    <div class="page-wrapper"></div>
    </div>
{% endblock content %}