<!--Header-->
{% load static %}

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>KFUPM Collection</title>
   <!-- <link rel="stylesheet" href="/Main-page/LastDesignMain.css"> -->
   <link rel="stylesheet" type="text/css" href="{% static 'KFUPMCollection/LastDesignMain.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'KFUPMCollection/Website-design.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'KFUPMCollection/log.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'KFUPMCollection/about.css' %}">
   <script src="{% static 'KFUPMCollection/lastDesignMain.js' %}"></script>   


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">


</head>

<body>
   <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/UserProfile/userProfile.html"><img name="My Profily" class="profile-icon"
            src="/static/image/477_profile__avatar__man_-512.webp" alt="profile-icon"></a>
      <a href="/about">About</a>
      <a href="/final-version/Main-page/LastDesignMain.php">Home</a>
      <a href="/final-version/Main-page/socialMedia.html">Social Media</a>

      <a href="#">Contact Us</a>
   </div>
   <div id="main">
      <button class="openbtn" onclick="openNav()">&#9776;</button>
   </div>
   <div class="Login">
      <button class="buttonup loged" onclick="document.getElementById('login').style.display='block'">Log In</button>
      <a href="../Main-page/signForm.php"><button class="buttonup loged">Sign Up</button></a>
      <!-- check if the user is loged in to the page -->
      <form id="login" class="popUp" action="login.php" method="POST">

         <input type="email" placeholder="Email" class="input-field" name="mail" required>
         <input type="password" placeholder="Password" class="input-field" name="pass" required>

         <span class="psw"> <a onclick="document.getElementById('forgetpass').style.display='block'" id="forget">Forgot
               password?</a></span>
         <div id="forgetpass" class="popUp">
            <h3>Forget Password ?</h3>
            <h4>Enter your email address to reset your password</h4>
            <input type="email" name="email" id="forgetEmail">
            <button type="button" onclick="document.getElementById('forgetpass').style.display='none'"
               class="sendbtn">Send</button>
         </div>

         <button type="submit" class="submitBtn" name="login">Login</button>
      </form>
      <!-- search form  -->
      <form action="Website-design.php" method="POST" id="searchform">
         <input id="bar" type="text" name="searchbar" placeholder="Search">
         <button id="searchButton" name="searchsubmit" type="submit"><i class="fa fa-search"></i></button>
      </form>

   </div>

   <!-- login page -->
   <form id="login" class="popUp" action="login.php" method="POST">

      <input type="email" placeholder="Email" class="input-field" name="mail" required>
      <input type="password" placeholder="Password" class="input-field" name="pass" required>
      <span class="psw"> <a onclick="document.getElementById('forgetpass').style.display='block'" id="forget">Forgot
            password?</a></span>
      <div id="forgetpass" class="popUp">
         <h3>Forget Password ?</h3>
         <h4>Enter your email address to reset your password</h4>
         <input type="email" name="email" id="forgetEmail">
         <button type="button" onclick="document.getElementById('forgetpass').style.display='none'"
            class="sendbtn">Send</button>
      </div>
      <button type="submit" class="submitBtn" name="login">Login</button>
   </form>


   <div class="Header-mainpage">
      <label>KFUPM Collection</label>
   </div>

   <div class="picheader">
   </div>
   {% block content %}{% endblock %}

   <div class="footer">
      <div class="footer-content">
         <div class="footer-section about">
            <h4>KFUPM collection</h4>
            <p id="Prograph-1">KFUPM collection is a web site that has all the needs of KFUPM students in one place.
               Yes, you heard right all in one place :)
            </p>
         </div>
         <div class="footer-section links">
            <h4>Quick Links</h4>
            <ul class="fot">
               <li><a href=" /about">About</a></li>
               <li><a href=" #">Home</a></li>
               <li><a href=" /final-version/Main-page/socialMedia.html">Social Media</a></li>
               <li><a href="#">Contact Us</a></li>
               </li>
            </ul>
         </div>
         <div class="footer-section contact-form">
            <!--contact us form   -->
            <h4>Contact US</h4>
            <form action="lastDesignMain.php" method="Post" class="Form-style">
               <input type="email" id="e" placeholder="Enter Your Email" name="contactemail">
               <input id="submit" type="Submit" value="Submit" name="contactsubmit">
               <textarea id="e-message" cols="35 " rows="8" placeholder="Enter your Message"
                  name="contactmessage"></textarea>
            </form>
         </div>
      </div>
      <div class="footer-bottom">
         &copy; KFUPM-Collection.com|Designed by Abdullah & Nawaf & Waleed Alfaifi
      </div>
   </div>
</body>

</html>