{% extends "KFUPMCollection/base.html" %}
{% load static %}

{% block content %}



<!--Page content-->
<div class="middle">



    <div class="container">
      
        <ul class="ulu">


            {% if user.is_superuser %}
            <li class='lil' id='{{ depID }}' onClick='newCourse(this.id)' style="background-color: azure;">
                <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class="course">New Course</span>
             
            </li>

            {% endif %}
            {% for i in courses %}



            {% if i.DID|slugify == depID %}
            
            <li class="lil" id='{{ i.CID }}' onClick='resource(this.id)'>
                <span class="icon"><i class="fa fa-folder" aria-hidden="true"></i></span>
                <span class="course">{{ i.Name }}</span>
                
            </li>
            {% endif %}



            {% endfor %}

        </ul>


    </div>
</div>
<script type="text/javascript">
            

    function newCourse(clicked_id) {
        location.href = "/newCourse?depID=" + clicked_id;
    }
    function resource(clicked_id) {
        location.href = "/resource?CourseID=" + clicked_id;
    }
</script>
{% endblock content %}