{% extends "KFUPMCollection/base.html" %}
{% load static %}

{% block content %}



<!--Page content-->
<div class="middle">



    <div class="container">

        <ul class="ulu">

            {% for i in courses %}
           
            <li class="lil">
                <span class="icon"><i class="fa fa-folder" aria-hidden="true"></i></span>
                <span class="course">{{ i.Name }}</span>
                <span class="download"><i class="fa fa-download" aria-hidden="true"></i></span>
            </li>

            {% endfor %}

          
        </ul>



    </div>
</div>

{% endblock content %}