{% extends "KFUPMCollection/base.html" %}
{% load static %}

{% block content %}



<!--Page content-->
<div class="middle">



    <div class="container">
        <script type="text/javascript">
            

            function newCourse(clicked_id) {
                location.href = "/newCourse?depID=" + clicked_id;
            }
            function course(clicked_id) {
                location.href = "/newCourse?depID=" + clicked_id;
            }
        </script>
        <ul class="ulu">


            {% if user.is_superuser %}
            <li class="lil" style="background-color: azure;">
               
                <button class='lil' id='{{ depID }}' onClick='newCourse(this.id)'>new course</button>
            </li>

            {% endif %}
            {% for i in courses %}



            {% if i.DID|slugify == depID %}
            <li class="lil">
                <span class="icon"><i class="fa fa-folder" aria-hidden="true"></i></span>
                <span class="course">{{ i.Name }}</span>
                <span class="download"><i class="fa fa-download" aria-hidden="true"></i></span>
            </li>
            {% endif %}



            {% endfor %}

        </ul>


    </div>
</div>

{% endblock content %}