{% extends "KFUPMCollection/base.html" %}
{% load static %}

{% block content %}


<!--Page Content-->
<script>
function evaluation(clicked_id) {
    location.href = "evaluation?evaID=" + clicked_id;
}

</script>
<style>
    .tablee {
width: 80%;
margin-top: auto;
margin-left: auto;
margin-right: auto;
border-radius: 12px;
border: 1px solid black;
background: #999;
color: black;
}
</style>

<div class="middle">
    <h1></h1>
    <table class="tablee">
   
        <tr>
            <th >
                <h3>Question</h3>
            </th>
            <th >
                <h3>Rate</h3>
            </th>
        </tr>
        <tr>
            {% for i in evaluationQuestions %}
            {% if i.IID|slugify == insID %}
           
                

        
         
        </tr>
    
       
        
    </table>
    <script type="text/javascript">
        function form(click) {
            location.href = "EvaluationForm.php?insID=" + click;
        }
    </script>

</div>
{% endblock content %}