{% extends "KFUPMCollection/base.html" %}
{% load static %}

{% block content %}



<!--Page content-->
<div class="middle">



    <div class="container">

        {% for i in department %}

        <div class="bg1 ">
            <h2><i class="{{ i.icon }}"></i></h2>
            <p class="course">{{ i.name }}</p>
            <button class="button">Resources</button>
            <button class="button">Instructors Evaluation</button>
        </div>
        <!-- display departments -->
        {% endfor %}

        <div class="bg1 ">
            <h2><i class="fas fa-rocket "></i></h2>
            <p class="course">AE</p>
            <button class="button">Resources</button>
            <button class="button">Instructors Evaluation</button>
        </div>
        <div class="bg1 ">
            <h2><i class="fas fa-drafting-compass"></i></h2>
            <p class="course">CE</p>
            <button class="button">Resources</button>
            <button class="button">Instructors Evaluation</button>
        </div>
        <div class="bg1 ">
            <h2><i class="fas fa-plus"></i></h2>
            <p class="course">Add New Department</p>
            
        </div>
      
      

    </div>

    {% endblock content %}