{% extends "KFUPMCollection/base.html" %}
{% load static %}

{% block content %}



<!--Page content-->
<div class="middle">



    <div class="container">




        <!-- redirect to the evaluation or resources pages -->
        <script type="text/javascript">
            function evaluation(clicked_id) {
                location.href = "instructors?depID=" + clicked_id;
            }

            function resources(clicked_id) {
                location.href = "courses?depID=" + clicked_id;
            }
        </script>

        {% for i in department %}

        <div class="bg1 ">
            <h2><i class="{{ i.icon }}"></i></h2>
            <p class="course">{{ i.name }}</p>
            <button class='button' id='{{ i.id }}' onClick='resources(this.id)'>Resources</button>
            <button class="button" id='{{ i.id }}' onClick='evaluation(this.id)'>Instructors Evaluation</button>
        </div>
        <!-- display departments -->
        {% endfor %}
        {% if user.is_superuser %}
        <div class="bg1 ">
            <a href="{% url 'newDep' %}"> <h2><i class="fas fa-plus"></i></h2></a>
            <p class="course">Add New Department</p>
          
        </div>
      
    {% endif %}
        <!--       
        <div class="bg1 ">
            <h2><i class="fas fa-plus"></i></h2>
            <p class="course">Add New Department</p>
            
        </div> -->



    </div>

    {% endblock content %}