{% extends "KFUPMCollection/base.html" %}
{% load static %}

{% block content %}

    <!--Header-->
  
    <!--Page content-->
    <div class="middle">
        <div class="container">


       


            <!-- display departments -->
            <h1>hi there</h1>
            <h1>hi there</h1>
            <h1>hi there</h1>
            <h1>hi there</h1>
            <h1>hi there</h1>
            <h1>hi there</h1>
            <h1>hi there</h1>
            <h1>hi there</h1>

   
        <!-- Footer-->
     

   {% endblock content %}